<hello name="{{ name }}"></hello>

<p>
  Select few checkbox, push submit. Do it again while it playing
</p>

<mat-grid-list cols="2">
  <mat-grid-tile class="tile">
      <form  #hForm="ngForm" (ngSubmit)="submitForm(hForm)">
        <mat-grid-list cols="2" style="width: 100px;">
          <mat-grid-tile *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            <mat-checkbox name="_{{i}}" ngModel>{{i}}</mat-checkbox>
          </mat-grid-tile>
        </mat-grid-list>
        <button>Submit</button>
      </form>
  </mat-grid-tile>
  <mat-grid-tile>
    <h4>Speak log:</h4>
    <ul>
    </ul>
  </mat-grid-tile>
</mat-grid-list>

  <h2>Queue:</h2>
  <div class="row" *ngFor="let sound of sounds_queue | async">
    <div class="col-xs-9">{{ sound.src }}</div>
  </div>

<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row" *ngFor="let number of numbers">
    <div class="col-xs-9">{{ number }}</div>
  </div>
</div>